absl-py==2.1.0
aiohappyeyeballs==2.3.5
aiohttp==3.10.3
aiosignal==1.3.1
aiostream==0.5.2
annotated-types==0.7.0
anyio==4.4.0
astroid==3.2.4
astunparse==1.6.3
attrs==24.2.0
audioread==3.0.1
Automat==22.10.0
autopep8
beautifulsoup4
black
blis
cachetools
catalogue
certifi
cffi
cfgv
charset-normalizer
click
cloudpathlib
colorama
confection
constantly
cryptography
cssselect
cymem
decorator
defusedxml
dill
distlib
distro
fastapi
fastapi_poe
filelock
flake8
flatbuffers
frozenlist
gast
google-pasta
greenlet
grpcio
grpclib
h11
h2
h5py
hpack
httpcore
httpx
httpx-sse
hyperframe
hyperlink
identify
idna
importlib-metadata
incremental
iniconfig
isort
itemadapter
itemloaders
Jinja2
jiter
jmespath
joblib
keras
langcodes
language_data
lazy_loader
libclang
librosa
llvmlite
lxml
marisa-trie
Markdown
markdown-it-py
MarkupSafe
mccabe
mdurl
ml-dtypes
modal
modal-client
msgpack
multidict
murmurhash
mypy-extensions
namex
nltk
nodeenv
numba
numpy
openai
opt-einsum
optree
packaging
parsel
pathspec
platformdirs
pluggy
pooch
pre-commit
preshed
Protego
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pycodestyle
pycparser
pydantic
pydantic_core
PyDispatcher
pyflakes
Pygments
pylint
pyOpenSSL
pytest
PyYAML
queuelib
regex
requests
requests-file
rich
scikit-learn
scipy
Scrapy
service-identity
setuptools
shellingham
sigtools
six
smart-open
sniffio
soundfile
soupsieve
soxr
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
sse-starlette
starlette
synchronicity
tensorboard==2.16.0
tensorboard-data-server
tensorflow==2.16.1
tensorflow-intel==2.16.1
termcolor
thinc
threadpoolctl
tldextract
toml
tomlkit
tqdm
Twisted
typer
types-certifi
types-toml
typing_extensions
urllib3
uvicorn
virtualenv
w3lib
wasabi
watchfiles
weasel
Werkzeug
wheel
wrapt
yarl
zipp
zope.interface
